{{!-- for loop --}}

<div class="containerContent">
    <h1>EAT-DA-BURGER</h1>

    <div class="content-burger">
        {{#each burgers}}
        <div class="content-burger_list" id={{id}}>
            <img scr="burgerimage.jpg" alt"">
            <p>{{burger_name}}</p>
            <button class="btn btn-default favorites" data-id="{{id}}" data-state"{{is_favorite}}">
                {{#if is_favorite}} unfavorite {{else}} add to Favorites {{/if}}
            </button>
        </div>
        {{/each}}
    </div>
</div>