{{!-- NTS: DOUBLE-CHECK FORMATTING FOR THIS PAGE --}}

{{!-- Majority of Handlebars code goes here --}}

{{!-- TESTING --}}
{{!-- <p>YASSSS, YOU SUCCESSFULLY CONNECTED TO THE SERVER!</p> --}}

<div class="container">
    <div class="row">
        {{!-- Center --}}
        <div class="col-md-12 text-center" id="top">
            {{!-- Insert an image from assets/images if I want to --}}
            <h1>Issa Burger!!!</h1>
        </div>
        {{!-- Half of column for uneaten --}}
        <div class="col-md-6 text-center" class="task">
            <div class="row">
                {{!-- Loop through burger data for each piece of burger data --}}
                {{#each burgerData}}
                {{#unless this.devoured}}
                <div class="col-md-9 text center">
                    <pre>
                            {{this.id}}. {{this.burger_name}}
                        </pre>
                </div>
                <div class="col-md-3 text-center">
                    <form class="devour-form-button-size">
                        <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                            <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
                            <br>
                            {{!-- Create button to send it back to server --}}
                            <button type="submit" class="btn btn-default">Devour it!</button>
                        </form>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        {{!-- Other half for devoured --}}
        <div class="col-md-6 text-center" class="task">
            {{#each burgerData}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text center" </div> </div> {{!-- See 14:22 for video --}}